
body {
    color: #000000;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Serif', serif;
}

.stButton>button {
    color: #000000;
    height: 3em;
    width: 7em;
    font-weight: bold;
    font-family: 'IBM Plex Sans', sans-serif;
    font-family: 'IBM Plex Serif', serif;

}

.stTextInput>div>div>input {
  color:#000000 ;
  background-color: #cccdff;
}
